<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobile.agri10x">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:screenOrientation="portrait"
        android:theme="@style/Theme.EAgri10x">
        <activity android:name=".activities.HomePageActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activities.RegisterActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.SignUpActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.Update_Profile_Activity" />
        <activity android:name=".activities.OrderFail_Activity" />
        <activity android:name=".activities.Otp_Screen_Activity" />
        <activity android:name=".activities.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.LocationActivity" />
        <activity android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>