<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobile.agri10x">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/appstorelogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/appstorelogo"
        android:supportsRtl="true"
        android:screenOrientation="portrait"
        android:theme="@style/Theme.EAgri10x">


        <activity android:name=".activities.HomePageActivity"
            android:windowSoftInputMode="adjustNothing"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activities.RegisterActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.Update_Profile_Activity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.OrderFail_Activity" />
        <activity android:name=".activities.Otp_Screen_Activity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.PaymentActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.LocationActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".activities.SplashActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_live_zdqce1DCYfjD8s" />
    </application>

</manifest>